@import "tailwindcss";
@import "uniwind";

:root {
  --font-display: JetBrainsMono-Regular, system-ui, sans-serif;
  --font-mono: JetBrainsMono-Regular, ui-monospace, monospace;
  --font-rounded: JetBrainsMono-Regular, system-ui, sans-serif;
  --font-serif: JetBrainsMono-Regular, Georgia, serif;
}
